registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors
scripts-prepend-node-path=false
npm_config_phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
