.rc-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;
  display: -ms-flexbox;
  display: flex;
}
.rc-steps,
.rc-steps * {
  box-sizing: border-box;
}
.rc-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -ms-flex: 1;
      flex: 1;
  overflow: hidden;
}
.rc-steps-item:last-child {
  -ms-flex: none;
      flex: none;
}
.rc-steps-item:last-child .rc-steps-item-tail,
.rc-steps-item:last-child .rc-steps-item-title:after {
  display: none;
}
.rc-steps-item-icon,
.rc-steps-item-content {
  display: inline-block;
  vertical-align: top;
}
.rc-steps-item-icon {
  border: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
.rc-steps-item-icon > .rc-steps-icon {
  line-height: 1;
  top: -1px;
  color: #108ee9;
  position: relative;
}
.rc-steps-item-icon > .rc-steps-icon.rcicon {
  font-size: 12px;
  position: relative;
  top: -2px;
}
.rc-steps-item-tail {
  position: absolute;
  left: 0;
  width: 100%;
  top: 12px;
  padding: 0 10px;
}
.rc-steps-item-tail:after {
  content: '';
  display: inline-block;
  background: #e9e9e9;
  height: 1px;
  border-radius: 1px;
  width: 100%;
  transition: background .3s;
}
.rc-steps-item-content {
  margin-top: 3px;
}
.rc-steps-item-title {
  font-size: 14px;
  margin-bottom: 4px;
  color: #666;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  position: relative;
}
.rc-steps-item-title:after {
  content: '';
  height: 1px;
  width: 1000px;
  background: #e9e9e9;
  display: block;
  position: absolute;
  top: 0.55em;
  left: 100%;
}
.rc-steps-item-description {
  font-size: 12px;
  color: #999;
}
.rc-steps-item-wait .rc-steps-item-icon {
  border-color: #ccc;
  background-color: #fff;
}
.rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon {
  color: #ccc;
}
.rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
  background: #ccc;
}
.rc-steps-item-wait .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.43);
}
.rc-steps-item-wait .rc-steps-item-title:after {
  background-color: #e9e9e9;
}
.rc-steps-item-wait .rc-steps-item-description {
  color: rgba(0, 0, 0, 0.43);
}
.rc-steps-item-wait .rc-steps-item-tail:after {
  background-color: #e9e9e9;
}
.rc-steps-item-process .rc-steps-item-icon {
  border-color: #108ee9;
  background-color: #fff;
}
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: #108ee9;
}
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
  background: #108ee9;
}
.rc-steps-item-process .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.65);
}
.rc-steps-item-process .rc-steps-item-title:after {
  background-color: #e9e9e9;
}
.rc-steps-item-process .rc-steps-item-description {
  color: rgba(0, 0, 0, 0.65);
}
.rc-steps-item-process .rc-steps-item-tail:after {
  background-color: #e9e9e9;
}
.rc-steps-item-process .rc-steps-item-icon {
  background: #108ee9;
}
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: #fff;
}
.rc-steps-item-finish .rc-steps-item-icon {
  border-color: #108ee9;
  background-color: #fff;
}
.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
  color: #108ee9;
}
.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
  background: #108ee9;
}
.rc-steps-item-finish .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.43);
}
.rc-steps-item-finish .rc-steps-item-title:after {
  background-color: #108ee9;
}
.rc-steps-item-finish .rc-steps-item-description {
  color: rgba(0, 0, 0, 0.43);
}
.rc-steps-item-finish .rc-steps-item-tail:after {
  background-color: #108ee9;
}
.rc-steps-item-error .rc-steps-item-icon {
  border-color: #f50;
  background-color: #fff;
}
.rc-steps-item-error .rc-steps-item-icon > .rc-steps-icon {
  color: #f50;
}
.rc-steps-item-error .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
  background: #f50;
}
.rc-steps-item-error .rc-steps-item-title {
  color: #f50;
}
.rc-steps-item-error .rc-steps-item-title:after {
  background-color: #e9e9e9;
}
.rc-steps-item-error .rc-steps-item-description {
  color: #f50;
}
.rc-steps-item-error .rc-steps-item-tail:after {
  background-color: #e9e9e9;
}
.rc-steps-item.rc-steps-next-error .rc-steps-item-title:after {
  background: #f50;
}
.rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item {
  margin-right: 10px;
}
.rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item:last-child {
  margin-right: 0;
}
.rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item-tail {
  display: none;
}
.rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item-description {
  max-width: 100px;
}
.rc-steps-item-custom .rc-steps-item-icon {
  background: none;
  border: 0;
  width: auto;
  height: auto;
}
.rc-steps-item-custom .rc-steps-item-icon > .rc-steps-icon {
  font-size: 20px;
  top: 1px;
  width: 20px;
  height: 20px;
}
.rc-steps-item-custom.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: #108ee9;
}
.rc-steps-small .rc-steps-item-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 18px;
  font-size: 12px;
  margin-right: 10px;
}
.rc-steps-small .rc-steps-item-icon > .rc-steps-icon {
  font-size: 12px;
  font-size: 9px \9;
  transform: scale(0.75);
  top: -1px;
}
.rc-steps-small .rc-steps-item-content {
  margin-top: 0;
}
.rc-steps-small .rc-steps-item-title {
  font-size: 12px;
  margin-bottom: 4px;
  color: #666;
  font-weight: bold;
}
.rc-steps-small .rc-steps-item-description {
  font-size: 12px;
  color: #999;
}
.rc-steps-small .rc-steps-item-tail {
  top: 8px;
  padding: 0 8px;
}
.rc-steps-small .rc-steps-item-tail:after {
  height: 1px;
  border-radius: 1px;
  width: 100%;
}
.rc-steps-small .rc-steps-item-custom .rc-steps-item-icon {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  border: 0;
  background: none;
}
.rc-steps-small .rc-steps-item-custom .rc-steps-item-icon > .rc-steps-icon {
  font-size: 20px;
  top: -2.5px;
  transform: none;
}
.rc-steps-vertical {
  display: block;
}
.rc-steps-vertical .rc-steps-item {
  display: block;
  overflow: visible;
}
.rc-steps-vertical .rc-steps-item-icon {
  float: left;
}
.rc-steps-vertical .rc-steps-item-icon-inner {
  margin-right: 16px;
}
.rc-steps-vertical .rc-steps-item-content {
  min-height: 48px;
  overflow: hidden;
  display: block;
}
.rc-steps-vertical .rc-steps-item-title {
  line-height: 26px;
}
.rc-steps-vertical .rc-steps-item-title:after {
  display: none;
}
.rc-steps-vertical .rc-steps-item-description {
  padding-bottom: 12px;
}
.rc-steps-vertical .rc-steps-item-tail {
  position: absolute;
  left: 13px;
  top: 0;
  height: 100%;
  width: 1px;
  padding: 30px 0 4px 0;
}
.rc-steps-vertical .rc-steps-item-tail:after {
  height: 100%;
  width: 1px;
}
.rc-steps-vertical.rc-steps-small .rc-steps-item-tail {
  position: absolute;
  left: 9px;
  top: 0;
  padding: 22px 0 4px 0;
}
.rc-steps-vertical.rc-steps-small .rc-steps-item-title {
  line-height: 18px;
}
.rc-steps-label-vertical .rc-steps-item {
  overflow: visible;
}
.rc-steps-label-vertical .rc-steps-item-tail {
  padding: 0px 24px;
  margin-left: 48px;
}
.rc-steps-label-vertical .rc-steps-item-content {
  display: block;
  text-align: center;
  margin-top: 8px;
  width: 100px;
}
.rc-steps-label-vertical .rc-steps-item-icon {
  display: inline-block;
  margin-left: 36px;
}
.rc-steps-label-vertical .rc-steps-item-title {
  padding-right: 0;
}
.rc-steps-label-vertical .rc-steps-item-title:after {
  display: none;
}
.rc-steps-label-vertical .rc-steps-item-description {
  text-align: left;
}
.rc-steps-dot .rc-steps-item-tail {
  width: 100%;
  top: 1px;
  margin: 0 0 0 50px;
  padding: 0;
}
.rc-steps-dot .rc-steps-item-tail:after {
  height: 3px;
}
.rc-steps-dot .rc-steps-item-icon {
  padding-right: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  border: 0;
  margin-left: 48px;
}
.rc-steps-dot .rc-steps-item-icon .rc-steps-icon-dot {
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 2.5px;
}
.rc-steps-dot .rc-steps-item-process .rc-steps-dot .rc-steps-item-icon {
  top: -1px;
  width: 7px;
  height: 7px;
  line-height: 7px;
}
.rc-steps-dot .rc-steps-item-process .rc-steps-dot .rc-steps-item-icon .rc-steps-icon-dot {
  border-radius: 3.5px;
}
@font-face {
  font-family: 'anticon';
  src: url('//at.alicdn.com/t/font_1434092639_4910953.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1434092639_4910953.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1434092639_4910953.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1434092639_4910953.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1434092639_4910953.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.rcicon {
  position: relative;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px;
  -moz-osx-font-smoothing: grayscale;
}
.rcicon:before {
  display: block;
  font-family: "anticon" !important;
}
.rcicon-step-backward:before {
  content: "\E662";
}
.rcicon-step-forward {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-step-forward:before {
  content: "\E662";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-fast-backward:before {
  content: "\E62A";
}
.rcicon-fast-forward {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-fast-forward:before {
  content: "\E62A";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-shrink:before {
  content: "\E65F";
}
.rcicon-arrow-salt:before {
  content: "\E608";
}
.rcicon-caret-down:before {
  content: "\E60F";
}
.rcicon-caret-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rcicon-caret-left:before {
  content: "\E60F";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rcicon-caret-up {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-caret-up:before {
  content: "\E60F";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-caret-right {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rcicon-caret-right:before {
  content: "\E60F";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.rcicon-caret-circle-right:before {
  content: "\E60D";
}
.rcicon-caret-circle-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-caret-circle-left:before {
  content: "\E60D";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-caret-circle-o-right:before {
  content: "\E60E";
}
.rcicon-caret-circle-o-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-caret-circle-o-left:before {
  content: "\E60E";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-circle-right:before {
  content: "\E602";
}
.rcicon-circle-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-circle-left:before {
  content: "\E602";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-circle-o-right:before {
  content: "\E603";
}
.rcicon-circle-o-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-circle-o-left:before {
  content: "\E603";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-double-right:before {
  content: "\E604";
}
.rcicon-double-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-double-left:before {
  content: "\E604";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-verticle-right:before {
  content: "\E605";
}
.rcicon-verticle-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-verticle-left:before {
  content: "\E605";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-forward:before {
  content: "\E630";
}
.rcicon-backward {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-backward:before {
  content: "\E630";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-rollback:before {
  content: "\E65A";
}
.rcicon-retweet:before {
  content: "\E659";
}
.rcicon-right:before {
  content: "\E611";
}
.rcicon-down {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rcicon-down:before {
  content: "\E611";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rcicon-left {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rcicon-left:before {
  content: "\E611";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rcicon-up {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rcicon-up:before {
  content: "\E611";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.rcicon-question:before {
  content: "\E655";
}
.rcicon-question-circle:before {
  content: "\E656";
}
.rcicon-question-circle-o:before {
  content: "\E657";
}
.rcicon-plus:before {
  content: "\E651";
}
.rcicon-plus-circle:before {
  content: "\E652";
}
.rcicon-plus-circle-o:before {
  content: "\E653";
}
.rcicon-pause:before {
  content: "\E64C";
}
.rcicon-pause-circle:before {
  content: "\E64D";
}
.rcicon-pause-circle-o:before {
  content: "\E64E";
}
.rcicon-minus:before {
  content: "\E646";
}
.rcicon-minus-circle:before {
  content: "\E647";
}
.rcicon-minus-circle-o:before {
  content: "\E648";
}
.rcicon-info-circle:before {
  content: "\E637";
}
.rcicon-info-circle-o:before {
  content: "\E638";
}
.rcicon-info:before {
  content: "\E63A";
}
.rcicon-exclamation:before {
  content: "\E627";
}
.rcicon-exclamation-circle:before {
  content: "\E628";
}
.rcicon-exclamation-circle-o:before {
  content: "\E629";
}
.rcicon-cross:before {
  content: "\E61E";
}
.rcicon-cross-circle:before {
  content: "\E61F";
}
.rcicon-cross-circle-o:before {
  content: "\E620";
}
.rcicon-check:before {
  content: "\E613";
}
.rcicon-check-circle:before {
  content: "\E614";
}
.rcicon-check-circle-o:before {
  content: "\E615";
}
.rcicon-clock-circle:before {
  content: "\E616";
}
.rcicon-clock-circle-o:before {
  content: "\E617";
}
.rcicon-lock:before {
  content: "\E641";
}
.rcicon-android:before {
  content: "\E601";
}
.rcicon-apple:before {
  content: "\E606";
}
.rcicon-area-chart:before {
  content: "\E607";
}
.rcicon-bar-chart:before {
  content: "\E609";
}
.rcicon-bars:before {
  content: "\E60A";
}
.rcicon-book:before {
  content: "\E60B";
}
.rcicon-calendar:before {
  content: "\E60C";
}
.rcicon-cloud:before {
  content: "\E618";
}
.rcicon-cloud-download:before {
  content: "\E619";
}
.rcicon-code:before {
  content: "\E61A";
}
.rcicon-copy:before {
  content: "\E61C";
}
.rcicon-credit-card:before {
  content: "\E61D";
}
.rcicon-delete:before {
  content: "\E621";
}
.rcicon-desktop:before {
  content: "\E622";
}
.rcicon-download-line:before {
  content: "\E623";
}
.rcicon-edit:before {
  content: "\E624";
}
.rcicon-ellipsis:before {
  content: "\E625";
}
.rcicon-environment:before {
  content: "\E626";
}
.rcicon-file:before {
  content: "\E62C";
}
.rcicon-file-text:before {
  content: "\E62D";
}
.rcicon-folder:before {
  content: "\E62E";
}
.rcicon-folder-open:before {
  content: "\E62F";
}
.rcicon-github:before {
  content: "\E631";
}
.rcicon-hdd:before {
  content: "\E632";
}
.rcicon-frown:before {
  content: "\E633";
}
.rcicon-meh:before {
  content: "\E634";
}
.rcicon-inbox:before {
  content: "\E635";
}
.rcicon-laptop:before {
  content: "\E63D";
}
.rcicon-large:before {
  content: "\E63E";
}
.rcicon-line-chart:before {
  content: "\E63F";
}
.rcicon-link:before {
  content: "\E640";
}
.rcicon-logout:before {
  content: "\E642";
}
.rcicon-mail:before {
  content: "\E643";
}
.rcicon-menu-fold:before {
  content: "\E644";
}
.rcicon-menu-unfold:before {
  content: "\E645";
}
.rcicon-mobile:before {
  content: "\E649";
}
.rcicon-notification:before {
  content: "\E64A";
}
.rcicon-paper-clip:before {
  content: "\E64B";
}
.rcicon-picture:before {
  content: "\E64F";
}
.rcicon-pie-chart:before {
  content: "\E650";
}
.rcicon-poweroff:before {
  content: "\E654";
}
.rcicon-reload:before {
  content: "\E658";
}
.rcicon-search:before {
  content: "\E65B";
}
.rcicon-setting:before {
  content: "\E65C";
}
.rcicon-share-alt:before {
  content: "\E65D";
}
.rcicon-shopping-cart:before {
  content: "\E65E";
}
.rcicon-smile:before {
  content: "\E661";
}
.rcicon-tablet:before {
  content: "\E664";
}
.rcicon-tag:before {
  content: "\E665";
}
.rcicon-tags:before {
  content: "\E666";
}
.rcicon-to-top:before {
  content: "\E667";
}
.rcicon-unlock:before {
  content: "\E668";
}
.rcicon-upload:before {
  content: "\E669";
}
.rcicon-user:before {
  content: "\E66A";
}
.rcicon-video-camera:before {
  content: "\E66B";
}
.rcicon-windows:before {
  content: "\E66C";
}
.rcicon-loading:before {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  -o-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
  content: "\E610";
}
:root .rcicon-step-forward,
:root .rcicon-fast-forward,
:root .rcicon-left,
:root .rcicon-up,
:root .rcicon-down,
:root .rcicon-caret-left,
:root .rcicon-caret-up,
:root .rcicon-caret-right,
:root .rcicon-caret-circle-left,
:root .rcicon-caret-circle-o-left,
:root .rcicon-circle-left,
:root .rcicon-circle-o-left,
:root .rcicon-double-left,
:root .rcicon-verticle-left,
:root .rcicon-backward {
  filter: none;
}

/*# sourceMappingURL=common.css.map*/